<div class="container">
	<div class="section">
		<fieldset>
			<legend>{{threeMostCalledLabel}}</legend>
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>URL</th>
			        <th>Webhooks</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="host in threeMostCalled track by $index">
			        <td>{{host.url}}</td>
			        <td>{{host.sum}}</td>
			      </tr>
			    </tbody>
  			</table>
		</fieldset>
		<fieldset>
			<legend>{{sumStatusLabel}}</legend>
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Status</th>
			        <th>Webhooks</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="(key, value) in sumStatus">
			        <td>{{key}}</td>
			        <td>{{value}}</td>
			      </tr>
			    </tbody>
  			</table>
		</fieldset>
	</div>
</div>