<div class="container">
	<div class="section">
		<h3>{{title}}</h3>
		<br><br>
		<fieldset>
			<legend>{{threeMostCalledLabel}}</legend>
			
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>URL</th>
			        <th>Quantidade</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>https://woodenoyster.com.br</td>
			        <td>100</td>
			      </tr>
			    </tbody>
  			</table>
		</fieldset>
		<br>
		<fieldset>
			<legend>{{sumStatusLabel}}</legend>
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Status</th>
			        <th>Quantidade</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>200</td>
			        <td>100</td>
			      </tr>
			    </tbody>
  			</table>
		</fieldset>
	</div>
</div>